{% extends 'base_layout.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style_add_feedback.css' %}">
{% endblock %}

{% block content %}
<div class="course">
    <div style="display: flex; justify-content: left; padding-top: 1rem; padding-left: 1rem;"><button><a href="{% url 'feedback:feedback' %}">See all the feedback!</a></button></div>
    <div class="wrap-course">
        <h1 style="color: #004850; font-size: 33px; font-family: Roboto;"><b>Form Feedback FightCov-19</b></h1>
        <div class="wrap">
            <form action="{% url 'feedback:add_feedback' %}" method="POST">
                {% csrf_token %}
                {% for field in feedback_form.visible_fields %}
                <div class="form-group">
                    <div class="col-sm-6 offset-sm-3">
                        <h5>{{field.label_tag}} {{field}}</h5>
                    </div>
                </div>
                {% endfor %}
                <div style="display: flex; justify-content: center; text-align: center"><button type="submit">Submit</button></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
