{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <h4 style="color: #5AE2FC;"><b>Fight</b></h4><h4 style="color: black;"><b>Cov-19</b></h4>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link px-2" href="/"><b>Home</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-2" href="/covcase/"><b>Covid Cases</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-2" href="/donation/"><b>Donation</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-2" href="/artikel/"><b>Article</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-2" href="/FAQ/"><b>FAQ</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link px-2" href="/feedback/"><b>Feedback</b></a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>