{% extends 'base_layout.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style_feedback.css' %}">
{% endblock %}

{% block content %}
<div class="feedback">
    <div class="wrap">
        {% if feedback.count %}
        <h1 style="text-align: center; font-size: 31px; color: #004850; font-family: Roboto;"><b>Thank you for visiting our website!</b></br><b>We really appreciate your feedback :)</b></h1>
        <button><a href="{% url 'feedback:add_feedback' %}">Write your feedback!</a></button>

        <div class="flex-wrap">
        {% for feedback_content in feedback %}
	        <div class="card">
	        	<div class="name">
	            	<h4 style="text-align: center;">{{ feedback_content.name }}</h4>
	        	</div>
	        	<div class="email">
	        		<h6 style="text-align: center;">{{ feedback_content.email }}</h6>
	        	</div>
	            <a href="{% url 'feedback:delete_feedback' id=feedback_content.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
	            <div class="card-message">
	            	<h5 style="text-align: center; font-size: 15px;">{{ feedback_content.message }}</h5>
	            </div>
	        </div>

        {% endfor %}
    	</div>
        {% else %}

        <div class="else"><body style="background-color: #D6F8FE">
        	<div class="text">
	            <h4><b style="color: #202546; font-size: 35px;">We need your feedback :)</b></h4>
	            <button><a href="{% url 'feedback:add_feedback' %}">Write here!</a></button>
	        </div>
        </div></body>

        {% endif %}
    </div>
 </div>

 <script>
	$(function() {
		var len_fit_name = 19;

		$('.name h4').each(function(i, obj) {
			var name = $(this)
			
			var len_item_name = name.html().length;
			if(len_fit_name < len_item_name) {
	    		var size_now = parseInt(name.css("font-size"));
	    		var size_new = size_now * len_fit_name/len_item_name;
	    		name.css("font-size",size_new);
			}
		})

		var len_fit_email = 30;

		$('.email h6').each(function(i, obj) {
			var email = $(this)
			
			var len_item_email = email.html().length;
			if(len_fit_email < len_item_email) {
	    		var size_now = parseInt(email.css("font-size"));
	    		var size_new = size_now * len_fit_email/len_item_email;
	    		email.css("font-size",size_new);
			}
		})
    });

 </script>

{% endblock %} 