{% extends 'baseCase.html' %}
{% load static %}


{% block css %}
<style>
  body{
    background-color: #D6F8FE;
    color: #000000;
    align-items: center;
  }

  .title {
      text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
{% endblock %}

{% block content %}
<div class="title-top" style="color: #000000;">
    <div class="center" align-item="center">
        <h1 class="title" style="margin: 40px;">Tambah Laporan Kasus</h1>
        <div class="button" style="margin: 40px;">
            <a href="/covcase/listCase" class="btn btn-outline-primary" role="button" aria-pressed="true" align-item="center">List Seluruh Kasus Covid</a>  
        </div>
</div>

<div class="content container" style="color: #000000;">
    <div class="row">
        <div id="isiCovid" class="col-md">
            <form id="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-hover">
                    {{ form_tambah.as_table }}
                    <tr>
                        <td class="center-content" colspan="2">
                            <button type="submit" class="btn btn-primary click" style="margin-top: 24px;margin-bottom: 24px;">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>    
{% endblock content %}
