{% extends 'template.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/FAQ.css' %}" rel="stylesheet" type="text/css">
<title>FightCovid19: Frequently Asked Questions</title>
{% endblock meta %}

{% block content %}

<div class="title-top">
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="left" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="right" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="center" align="center">
        <h1 class="title1" style="padding-top: 50px;padding-bottom: 20px;">FREQUENTLY ASKED QUESTIONS</h1>
        <h3 class="title2" style="color: #b961f8;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;font-size: 24px;">We are here trying to answer all of your question!</h3>
        <div class="button">
            <a href="/FAQ/form-FAQ/" class="btn btn-outline-primary" role="button" aria-pressed="true">Ask Your Question!</a>  
        </div>
    </div>
</div>

{% csrf_token %}
{% for content in database %}
<div class="container" align=left>
    <div class="column" style="margin-top: 32px;margin-bottom: 40px;">
        <div class="card-body text-info" style="font-size: 20px;">
            <h5 class="question">{{content.question}} - {{content.name}} / {{content.email}}</h5>
            <h5 class="answer">{{content.answer}}</h5>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
