{% extends 'template.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'css/FAQ.css' %}" rel="stylesheet" type="text/css">
<title>FAQ: Ask Your Question!</title>
{% endblock meta %}

{% block content %}
<div class="title-top">
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="left" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="responsive">
        <img src="{% static 'img/cov.png' %}" alt="vector" width="110" height="110" align="right" style="max-width: 100%;
        height: auto;">
    </div>
    <div class="center" align="center">
        <h1 class="title1" style="padding-top: 50px;margin-bottom: 20px;">FORM FAQ FIGHTCOV-19</h1>
        <h3 class="title2" style="margin-bottom: 40px;color: #b961f8;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;font-size: 20px;">Hi, Go and Ask All Your Question Here!</h3>
    </div>
</div>

<div class="content container" align="center">
        <div class="col-md-8"  style="padding-top:20px;background:  rgba(90, 225, 252, 0.479);border-radius: 10px;">
            <form method="POST" action="" novalidate>
                {% csrf_token %}
                <div class="table-responsive-md">
                    <table class="table table-striped" style="color:#004850;">
                        {{ form.as_table }}
                        <tr>
                            <td class="center-content" colspan="2" align="center">
                                <button type="submit" class="btn btn-primary click">Submit</button>
                                <a href="/FAQ/" class="btn btn-outline-danger" role="button" aria-pressed="true">Cancel</a>
                            </td>
                        </tr>
                    </table>
                </div>    
            </form>
        </div>
</div>    

{% endblock content %}