<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block meta %}
    {% endblock meta %}
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <h4 style="color: #5AE2FC;"><b>Fight</b></h4><h4 style="color: black;"><b>Cov-19</b></h4>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link px-2" href="/"><b>Home</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link px-2" href="/covcase/"><b>Covid Cases</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link px-2" href="/donation/"><b>Donation</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link px-2" href="/artikel/"><b>Article</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link px-2" href="/FAQ/"><b>FAQ</b></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link px-2" href="/feedback/"><b>Feedback</b></a>
              </li>
          </ul>
      </div>
  </nav>
    {% block content %}
    {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
