{% extends 'artikel/base.html' %}
{% load static %}

{% block meta %}
<title>FightCovid19: Form Pengisian Artikel</title>
{% endblock meta %}

{% block content %}
<h1 style="text-align:center;font-size:300%;color:#000000;">Form Pengisian Artikel</h1>
    <div class="container">
        <form action='' method="POST">
            {% csrf_token %}
            <div class="form-group" style="margin-top:100px">
                <label style="color: #000000;">Judul</label>
                {{form.Judul}}
            </div>
            <div class="form-group">
                <label style="color: #000000;">Isi</label>
                {{form.Isi}}
            </div>
            <div class="form-group">
                <label style="color: #000000;">Isi</label>
                {{form.Link}}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/" class="btn btn-outline-danger" role="button" aria-pressed="true">Cancel</a>
            </div>
        </form>   
    </div>
{% endblock content %}