{% extends 'template.html' %}
{% load static %}

{% block content %}
<meta charset="UTF-8">
<link href="{% static 'css/donation.css' %}" rel="stylesheet" type="text/css">
<title>FightCovid19: Donation</title>

<div class="title-top">
    <div class="center" align="center">
        <h1 class="title1" style="padding-top: 50px;">
		DONASI 
		<mark style="color:#8E11FF; background:#D6F8FE">COVID-19</mark></h1> 
		<h5 style="padding-top: 20px;">Donasi yang telah terkumpul</h5> 
    </div>
</div>

{% csrf_token %}
<div class="container" align=center>
    <div class="row">
		<div class="card-body text-info" style="padding: 2px">
		<div class="column" style="background-color:#fff; padding: 20px">
			<h2 style="color:#8E11FF">Rp {{donationsum}}</h2>
			<p style="color:#004850">Dana yang terkumpul</p>
		</div>
		<div class="column" style="background-color:#fff; padding: 20px">
			<h2 style="color:#8E11FF">{{count}} Orang</h2>
			<p style="color:#004850">Donatur yang telah berkontribusi</p>
		</div>
		</div>
</div>
</div>

<div class="title-top">
    <div class="center" align="center">
        <div class="button">
            <a href="/donation/donate/" class="btn btn-outline-primary" role="button" aria-pressed="true">Donate</a>  
        </div>
    </div>
</div>
{% endblock %}