  body{
    background-color: #D6F8FE;
    color: #000000;
    align-items: center;
  }

  .title {
      text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
