body {
    background-color: #5AE2FC;
}


.title h3{
    margin-left: 90px;
    margin-top: 40px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #004850;

}

.button a{
    margin-left: 40px;
    margin-top: 40px;
    width: 200px;
    height: 50px;

    background: #CA89FA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;

    color: #FFFFFF;
}

.button1 a{
    margin-left: 320px;
    width: 200px;
    height: 50px;

    background: #79E6FB;
    border: 3px solid #CA89FA;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;

    color: #CA89FA;
}

