.course {
	background: #D6F8FE;
	height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
}

html, body {
	height: 100%;
}

.title-form-feedback {
	text-align: center;
	justify-content: center;
	font-size: 33px;
	color: #004850;
}

h1 {
	text-align: center;
	justify-content: center;
	font-size: 25px;
	color: #004850;
	margin-top: -1.5%;
}

button {
	background: #CA89FA;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 45px;
	border: 2px solid #CA89FA;
	align-items: center;
}

.col-sm-6 offset-sm-3 {
	margin: 0 auto;
}

.wrap {
	width: 800px;
  	height: 475px;
  	background: rgba(90, 225, 252, 0.250); 
  	border-radius: 15px;
  	justify-content: center;
  	margin-top: 10%;
  	margin: 0 auto;
}

.wrap-course {
	padding-top: 2%;
}

.form-group {
	margin-top: 2%;
	margin: 0 auto;
}

@media screen and (max-width: 800px) {
	.wrap {
		width: 780px;
		height: 475px;
	}
}

@media screen and (max-width: 780px) {
	.wrap {
		width: 760px;
		height: 475px;
	}
}

@media screen and (max-width: 760px) {
	.wrap {
		width: 740px;
		height: 475px;
	}
}

@media screen and (max-width: 740px) {
	.wrap {
		width: 720px;
		height: 475px;
	}
}

@media screen and (max-width: 720px) {
	.wrap {
		width: 700px;
		height: 475px;
	}
}

@media screen and (max-width: 700px) {
	.wrap {
		width: 680px;
		height: 475px;
	}
}

@media screen and (max-width: 680px) {
	.wrap {
		width: 660px;
		height: 475px;
	}
}

@media screen and (max-width: 660px) {
	.wrap {
		width: 640px;
		height: 475px;
	}
}

@media screen and (max-width: 640px) {
	.wrap {
		width: 620px;
		height: 475px;
	}
}

@media screen and (max-width: 620px) {
	.wrap {
		width: 600px;
		height: 475px;
	}
}

@media screen and (max-width: 600px) {
	.wrap {
		width: 580px;
		height: 475px;
	}
}

@media screen and (max-width: 580px) {
	.wrap {
		width: 560px;
		height: 475px;
	}
}

@media screen and (max-width: 560px) {
	.wrap {
		width: 540px;
		height: 475px;
	}
}

@media screen and (max-width: 540px) {
	.wrap {
		width: 520px;
		height: 475px;
	}
}

@media screen and (max-width: 520px) {
	.wrap {
		width: 500px;
		height: 475px;
	}
}

@media screen and (max-width: 500px) {
	.wrap {
		width: 480px;
		height: 475px;
	}
}

@media screen and (max-width: 480px) {
	.wrap {
		width: 460px;
		height: 475px;
	}
}

@media screen and (max-width: 460px) {
	.wrap {
		width: 440px;
		height: 475px;
	}
}

@media screen and (max-width: 440px) {
	.wrap {
		width: 420px;
		height: 475px;
	}
}

@media screen and (max-width: 420px) {
	.wrap {
		width: 400px;
		height: 475px;
	}
}

@media screen and (max-width: 400px) {
	.wrap {
		width: 380px;
		height: 475px;
	}

@media screen and (max-width: 380px) {
	.wrap {
		width: 360px;
		height: 475px;
	}
}

@media screen and (max-width: 360px) {
	.wrap {
		width: 340px;
		height: 475px;
	}
}

@media screen and (max-width: 340px) {
	.wrap {
		width: 320px;
		height: 475px;
	}
}

@media screen and (max-width: 320px) {
	.wrap {
		width: 300px;
		height: 475px;
	}
}

@media screen and (max-width: 300px) {
	.wrap {
		width: 280px;
		height: 475px;
	}

	.title-form-feedback {
		font-size: 20px;
	}
}

@media screen and (max-width: 280px) {
	.wrap {
		width: 260px;
		height: 475px;
	}

	h1 {
		font-size: 20px;
	}
}

@media screen and (max-width: 260px) {
	.wrap {
		width: 240px;
		height: 475px;
	}

	h1 {
		font-size: 20px;
	}
}

@media screen and (max-width: 240px) {
	.wrap {
		width: 220px;
		height: 475px;
	}
}

@media screen and (max-width: 220px) {
	.wrap {
		width: 200px;
		height: 475px;
	}

	button {
		width: 100px;
		height: 45px;
	}
}

@media screen and (max-width: 200px) {
	.wrap {
		width: 180px;
		height: 475px;
	}
}

@media screen and (max-width: 180px) {
	.wrap {
		width: 160px;
		height: 475px;
	}
}

@media screen and (max-width: 160px) {
	.wrap {
		width: 140px;
		height: 475px;
	}
}






