html, body {
	height: 100%;
}

.feedback {
	background: #D6F8FE;
	height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
}

button {
	background: #CA89FA;
	text-align: center;
	color: white;
	border-radius: 10px;
	width: 200px;
	height: 45px;
	border: 2px solid #CA89FA;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	position: relative;
    display: block;
}

.wrap {
	background: #D6F8FE;
	min-height: 100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
}

.else {
  	height: 100%;
  	border-radius: 15px;
  	justify-content: center;
	margin-top: 10%;
  	margin: 0 auto;
  	background: #D6F8FE;
  	background-size: cover;
}

.text {
	text-align: center;
	margin: 0 auto;
	font-family: Roboto;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}

.flex-wrap {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	margin-top: 3%;
}

.card {
	width: 300px;
  	height: 350px;
  	background: #5AE2FC;
  	border-radius: 40px;
  	justify-content: center;
  	text-align: center;
  	margin: 15px;
}

.card-message {
	width: 250px;
  	height: 220px;
  	background: white;
  	border-radius: 20px 20px 20px 20px;
  	justify-content: center;
  	margin: 0 auto;
  	margin-top: 4%;
  	padding-left: 0.3rem;
  	padding-right: 0.3rem;
  	overflow-y: scroll;
  	padding-top: 1rem;
}

h1 {
	padding-top: 2rem;
}